#editor {
  border: 1px solid blue;
}
#content {
  display: none;
}

.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  /* the above doesn't seem to work in Edge */
}

.ProseMirror p:first-child,
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 10px;
}

.ProseMirror {
  padding: 4px 8px 4px 14px;
  line-height: 1.2;
  outline: none;
}
.menubar {
  border-bottom: 1px solid blue;
  padding: 0 0.25rem;
}
.menubar .menuicon {
  border-right: 1px solid blue;
  display: inline-block;
  padding: 0.2rem;
  width: 1.5rem;
  text-align: center;
}
